.ck-delimiter.ck-placeholder::before,
.ck-delimiter::before {
	display: inline-block;
	content: "***" !important;
	font-size: 30px;
	line-height: 65px;
	height: 30px;
	letter-spacing: 0.2em;
	width: 100%;
	text-align: center;
}

.ck-delimiter.ck-widget,
.ck-delimiter.ck-widget:hover,
.ck-delimiter.ck-widget_selected,
.ck-delimiter.ck-widget_selected:hover {
	outline: none !important;
	transition: none !important;
}
