:root {
	--ck-custom-highlight-marker-yellow: #fdf5dd;
	--ck-custom-highlight-marker-green: #e3f7f3;
	--ck-custom-highlight-marker-orange: #fbe8df;
	--ck-custom-highlight-marker-blue: #ddf5fb;
	--ck-custom-highlight-marker-gray: #f0f2f3;
	--ck-custom-highlight-pen-red: #f35e5e;
	--ck-custom-highlight-pen-green: #3bc7ab;
	--ck-custom-highlight-pen-blue: #1f8ceb;
	--ck-custom-highlight-pen-light-blue: #1ebfe9;
	--ck-custom-highlight-pen-yellow: #f4c221;
	--ck-custom-highlight-pen-orange: #e86d31;
	--ck-custom-highlight-pen-black: #333333;
	--ck-custom-highlight-pen-gray: #c4c7cc;
	--ck-custom-highlight-pen-light-gray: #e4e5e9;
	--ck-custom-highlight-pen-medium-gray: #9aa5ab;
	--ck-custom-highlight-pen-dark-gray: #556066;
}

@define-mixin custom-highlight-marker-color $color {
	.marker-$color {
		background-color: var(--ck-custom-highlight-marker-$color) !important;
	}
}

@define-mixin custom-highlight-pen-color $color {
	.pen-$color {
		color: var(--ck-custom-highlight-pen-$color) !important;

		/* Override default yellow background of `<mark>` from user agent stylesheet */
		background-color: transparent;
	}
}

@mixin custom-highlight-marker-color yellow;
@mixin custom-highlight-marker-color green;
@mixin custom-highlight-marker-color orange;
@mixin custom-highlight-marker-color blue;
@mixin custom-highlight-marker-color gray;
@mixin custom-highlight-pen-color red;
@mixin custom-highlight-pen-color green;
@mixin custom-highlight-pen-color blue;
@mixin custom-highlight-pen-color light-blue;
@mixin custom-highlight-pen-color black;
@mixin custom-highlight-pen-color yellow;
@mixin custom-highlight-pen-color orange;
@mixin custom-highlight-pen-color gray;
@mixin custom-highlight-pen-color dark-gray;
@mixin custom-highlight-pen-color medium-gray;
@mixin custom-highlight-pen-color light-gray;

.ck-custom-highlight .ck-dropdown__panel {
	padding: 18px 12px 0px 16px;
}

.ck-custom-highlight .ck-dropdown__panel .ck-toolbar {
	width: 290px;
	background-color: inherit !important;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-bottom: 20px;
}

.ck-custom-highlight .ck-dropdown__panel .ck-toolbar .ck-button {
	border: none !important;
	padding: 0 !important;
	margin: 0 8px 8px 0 !important;
	width: 40px !important;
	height: 40px !important;
	border-radius: 4px !important;
}

.ck-custom-highlight .ck-dropdown__panel .ck-toolbar .ck-icon {
	display: none;
}

.ck-custom-highlight .ck-dropdown__panel .ck-toolbar .ck-button_eraser {
	border: 1px double #e4e5e9 !important;
	border-radius: 4px;
	background-color: transparent !important;
}

.ck-dropdown__panel .ck-toolbar .ck-button_eraser .ck-icon {
	color: var(--ck-custom-background) !important;
	display: inherit;
	height: 22px !important;
}

@define-mixin button-custom-highlight-color $color {
	.ck.ck-button.marker-$color, .ck.ck-button.marker-$color:hover {
		background-color: var(--ck-custom-highlight-marker-$color) !important;
	}

	.ck.ck-button.pen-$color, .ck.ck-button.pen-$color:hover {
		background-color: var(--ck-custom-highlight-pen-$color) !important;
	}

	.ck.ck-button.marker-$color.ck-on:before,
	.ck.ck-button.pen-$color.ck-on:before {
		position: absolute;
		top: 8px;
		left: 8px;
		z-index: 3;
	}

	.ck.ck-button.ck-on.pen-$color:before {
		content: url('../src/assets/icons/done.svg') !important;
	}

	.ck.ck-button.ck-on.marker-$color:before {
		content: url('../src/assets/icons/done-black.svg') !important;
	}
}

@mixin button-custom-highlight-color yellow;
@mixin button-custom-highlight-color green;
@mixin button-custom-highlight-color orange;
@mixin button-custom-highlight-color blue;
@mixin button-custom-highlight-color gray;
@mixin button-custom-highlight-color red;
@mixin button-custom-highlight-color light-blue;
@mixin button-custom-highlight-color black;
@mixin button-custom-highlight-color dark-gray;
@mixin button-custom-highlight-color medium-gray;
@mixin button-custom-highlight-color light-gray;

